.footer {
  margin-top: 0;
  padding: 0 30px;
  background-color: #000;
}

.containerLogo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  & .logo {
    width: 100%;
    max-width: 250px;
    height: 80px;
  }
}

.copyright {
  color: #FFF;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  font-size: 14px;
}
